@{
    ViewBag.Title = "GalleriaExterna";
    Layout = "~/Views/Shared/_LayoutExternal.cshtml";

}

<html lang="en">
<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>Café Méndez</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- bootstrap css -->
    <link rel="stylesheet" type="text/css" href="~/root/dist/css/bootstrap.min.css">
    <!-- style css -->
    <link rel="stylesheet" type="text/css" href="~/root/dist/css/style.css">
    <!-- Responsive -->
    <link rel="stylesheet" href="~/root/dist/css/responsive.css">
    <!-- fevicon -->
    <link rel="icon" href="~/root/dist/img/fevicon.png" type="image/gif" />
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="~/root/dist/css/jquery.mCustomScrollbar.min.css">
    <!-- Tweaks for older IEs -->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <!-- owl stylesheets -->
    <link rel="stylesheet" href="~/root/dist/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/root/dist/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
</head>



<body>
  
    <!--Gallery section start -->
    <div class="gallery_section layout_padding">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="gallery_taital">Nuestra Galeria </h1>
                    <p class="gallery_description">Descubre la esencia de Costa Rica en cada imagen de nuestra galería. Desde los exuberantes cafetales donde nace nuestro grano, hasta el cuidado proceso de molienda que realza su aroma, te invitamos a un viaje visual por la pasión y dedicación detrás de cada taza de nuestro exquisito café molido y en grano. ¡Inspírate con la pura tradición cafetera costarricense!</p>
                </div>
            </div>
            <div class="">
                <div class="gallery_section_2">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="container_main gallery-image-container">
                                <img src="~/root/dist/img/g1.png" alt="Café Costa Rica" class="image gallery-image">
                                <div class="overlay">
                                    <div class="text"><a href="#"><i class="fa fa-search" aria-hidden="true"></i></a></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="container_main gallery-image-container">
                                <img src="~/root/dist/img/g2.png" alt="Granos de Café" class="image gallery-image">
                                <div class="overlay">
                                    <div class="text"><a href="#"><i class="fa fa-search" aria-hidden="true"></i></a></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="container_main gallery-image-container">
                                <img src="~/root/dist/img/g3.png" alt="Café Molido" class="image gallery-image">
                                <div class="overlay">
                                    <div class="text"><a href="#"><i class="fa fa-search" aria-hidden="true"></i></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="gallery_section_2">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="container_main gallery-image-container">
                                <img src="~/root/dist/img/g4.png" alt="Taza de Café" class="image gallery-image">
                                <div class="overlay">
                                    <div class="text"><a href="#"><i class="fa fa-search" aria-hidden="true"></i></a></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="container_main gallery-image-container">
                                <img src="~/root/dist/img/g5.png" alt="Plantación de Café" class="image gallery-image">
                                <div class="overlay">
                                    <div class="text"><a href="#"><i class="fa fa-search" aria-hidden="true"></i></a></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="container_main gallery-image-container">
                                <img src="~/root/dist/img/g6.png" alt="Proceso de Tostado" class="image gallery-image">
                                <div class="overlay">
                                    <div class="text"><a href="#"><i class="fa fa-search" aria-hidden="true"></i></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="gallery_section_2">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="container_main gallery-image-container">
                                <img src="~/root/dist/img/g7.png" alt="Catación de Café" class="image gallery-image">
                                <div class="overlay">
                                    <div class="text"><a href="#"><i class="fa fa-search" aria-hidden="true"></i></a></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="container_main gallery-image-container">
                                <img src="~/root/dist/img/g8.png" alt="Empaque de Café" class="image gallery-image">
                                <div class="overlay">
                                    <div class="text"><a href="#"><i class="fa fa-search" aria-hidden="true"></i></a></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="container_main gallery-image-container">
                                <img src="~/root/dist/img/g9.png" alt="Preparación de Café" class="image gallery-image">
                                <div class="overlay">
                                    <div class="text"><a href="#"><i class="fa fa-search" aria-hidden="true"></i></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="gallery_section_2">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="container_main gallery-image-container">
                                <img src="~/root/dist/img/g10.png" alt="Finca de Café" class="image gallery-image">
                                <div class="overlay">
                                    <div class="text"><a href="#"><i class="fa fa-search" aria-hidden="true"></i></a></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="container_main gallery-image-container">
                                <img src="~/root/dist/img/g11.png" alt="Beneficio de Café" class="image gallery-image">
                                <div class="overlay">
                                    <div class="text"><a href="#"><i class="fa fa-search" aria-hidden="true"></i></a></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="container_main gallery-image-container">
                                <img src="~/root/dist/img/g12.png" alt="Disfrutando Café" class="image gallery-image">
                                <div class="overlay">
                                    <div class="text"><a href="#"><i class="fa fa-search" aria-hidden="true"></i></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style>


        .row {
            padding: 5px;
        }

        .col-md-4 {
            /* Tus estilos existentes para las columnas */
            padding: 5px; /* Espacio alrededor de cada contenedor de imagen */
        }


        .image {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .overlay {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: rgba(0, 0, 0, 0.5);
            color: #fff;
            visibility: hidden;
            opacity: 0;
            transition: visibility 0s, opacity 0.3s ease-in-out;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .container_main {
            position: relative;
            width: 450px; /* Ajusta este valor al tamaño deseado */
            height: 600px; /* Ajusta este valor al tamaño deseado */
            overflow: hidden;
        }



        .text {
            color: white;
            font-size: 20px;
            padding: 16px 32px;
            text-align: center;
        }

            .text a {
                color: white;
                text-decoration: none;
            }
    </style>

    <!-- Javascript files-->
    <script src="@Url.Content("~/root/dist/js/popper.min.js")"></script>
    <script src="@Url.Content("~/root/dist/js/bootstrap.bundle.min.js")"></script>
    <script src="@Url.Content("~/root/dist/js/plugin.js")"></script>
    <!-- sidebar -->
    <script src="@Url.Content("~/root/dist/js/jquery.mCustomScrollbar.concat.min.js")"></script>
    <script src="@Url.Content("~/root/dist/js/custom.js")"></script>

    <script>
        (function () { if (!window.chatbase || window.chatbase("getState") !== "initialized") { window.chatbase = (...arguments) => { if (!window.chatbase.q) { window.chatbase.q = [] } window.chatbase.q.push(arguments) }; window.chatbase = new Proxy(window.chatbase, { get(target, prop) { if (prop === "q") { return target.q } return (...args) => target(prop, ...args) } }) } const onLoad = function () { const script = document.createElement("script"); script.src = "https://www.chatbase.co/embed.min.js"; script.id = "y-804SD1Jx2UKBVv6UmOQ"; script.domain = "www.chatbase.co"; document.body.appendChild(script) }; if (document.readyState === "complete") { onLoad() } else { window.addEventListener("load", onLoad) } })();
    </script>

</body>
</html>